.address {
  font-family: $font;
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 35px;
  width: $mobile-width;
  margin: 0 auto;
  max-width: 100%;
}

.address__button {
  border: 3px solid #192144;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 22px;
  padding-top: 19px;
  padding-bottom: 19px;

  &:active {
    background-color: #192144;

    .button-show-more__title {
      color: #ffffff;
      opacity: 0.3;
    }

    .button-show-more__icon {
      fill: $white;
      fill-opacity: 0.3;
    }
  }
}

.address__contacts {
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .address {
    width: $tablet-width;
    padding-top: 58px;
    padding-bottom: 85px;
  }

  .address__contacts {
    margin-left: 49px;
    margin-bottom: 42px;
  }

  .address__button {
    width: 618px;
    padding: 26px 35px;
    border-radius: 20px;
    margin-left: 49px;
    align-items: center;
  }
}

@media (min-width: $pc-width) {
  .address {
    display: flex;
    width: $pc-width;
    justify-content: space-between;
    align-items: center;
    padding-top: 65px;
    padding-left: 284px;
    padding-right: 134px;
    padding-bottom: 57px;
  }

  .address__button {
    width: 324px;
    margin-left: 0;
    padding-top: 26px;
    padding-bottom: 24px;
    padding-left: 33px;

    &:hover {
      background-color: #192144;

      .button-show-more__title {
        color: #ffffff;
      }

      .button-show-more__icon {
        fill: $white;
      }
    }
  }

  .address__contacts {
    margin-left: 0;
    margin-bottom: 0;
  }
}
