.address {
  font-family: $font;
  padding: 25px;
  width: $mobile-width;
  margin: 0 auto;
}

.address__button {
  border: 3px solid #192144;
  border-radius: 20px;
}

@media (min-width: $tablet-width) {
  .address {
    width: $tablet-width;
  }
}

@media (min-width: $pc-width) {
  .address {
    display: flex;
    width: $pc-width;
    justify-content: space-between;
  }
}
