.button-toggle {
  position: relative;
  font-family: $font;
  width: 100%;
  border: 0;
  border-radius: 20px;
  background-color: #d6daed;
  padding-top: 7px;
  padding-bottom: 4px;
  padding-left: 31px;
  color: #161c35;
  font-size: 17px;
  font-weight: 700;
  line-height: 29.45px;
  text-transform: uppercase;

  &--show {
    background-color: $white;
    padding-left: 4px;
  }
}

@media (min-width: $tablet-width) {
  .button-toggle {
    width: 618px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
  }

  .button-toggle__title {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $pc-width) {
  .button-toggle {
    width: 1320px;
  }
}
