.button-show-more {
  font-family: $font;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  background-color: $yellow;
  padding: 22px;
  color: #1d2e5b;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: none;

  &--route {
    border-radius: 10px;
    border: 3px solid #192144;
  }
}

.button-show-more__image {
  transform: rotate(-90deg);
}

@media (min-width: $tablet-width) {
  .button-show-more__title {
    font-size: 24px;
    line-height: 24px;
  }
}
