.button-toggle {
  position: relative;
  font-family: $font;
  width: 100%;
  border: 0;
  border-radius: 20px;
  background-color: #d6daed;
  padding-top: 7px;
  padding-bottom: 4px;
  padding-left: 31px;
  color: #161c35;
  font-size: 17px;
  font-weight: 700;
  line-height: 29.45px;
  text-transform: uppercase;

  &--show {
    background-color: $white;
  }

  &::before {
    @include pseudo(12px,12px);
    background: url("../img/small-cross.svg") no-repeat;
    background-size: contain;
    top: 14px;
    left: 85px;
  }
}

@media (min-width: $tablet-width) {
  .button-toggle__title {
    font-size: 20px;
    line-height: 30px;
  }
}
