.calendar {
  font-family: $font;
}

.calendar__month-name {
  color: #1d2e5b;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}

.calendar__month {
  position: relative;
  display: flex;
  justify-content: space-between;

  &::before {
    @include pseudo(221px,1px);
    background-color: #000000;
    opacity: 0.2;
    top: -12px;
    box-shadow: 0 43px;
  }
}

.calendar__checkin {
  display: none;
}

.calendar__short-month {
  display: none;
}

.calendar__button {
  background-color: $white;
  border: none;
  opacity: 0.3;
  padding: 0;

  &:active {
    opacity: 0.1;
  }
}

.calendar__week-list {
  @include list-reset();
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 31px;
  margin-bottom: 8px;
  padding-right: 12px;
  padding-left: 12px;
}

.calendar__days-list {
  @include list-reset();
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.calendar__day {
  &--second-letter {
    display: none;
  }
  color: #444444;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  &--weekend {
    color: #ff5c23;
  }
}

.calendar__item {
  position: relative;

  &:nth-of-type(7n+2) {
    margin-left: -1px;
  }

  &:nth-of-type(7n+3) {
    margin-left: -1px;
  }

  &:nth-of-type(7n+4) {
    margin-left: -1px;
  }

  &:nth-of-type(7n+5) {
    margin-left: -1px;
  }

  &:nth-of-type(7n+6) {
    margin-left: -1px;
  }

  &:nth-of-type(7n+7) {
    margin-left: -1px;
  }

  &:nth-of-type(n+8) {
    margin-top: -1px;
  }

  &:nth-of-type(34) {
    .calendar__label {
      border-left-color: $white;
    }
  }
}

.calendar__label {
  @include flex-center();
  color: #444444;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  width: 32.25px;
  height: 31.8px;
  border: 1px solid #cbced9;
}

.calendar__input {
  &:checked + .calendar__label {
    color: $white;
    background-color: #1d2e5b;
    opacity: 1;
  }

  &:disabled + .calendar__label {
    opacity: 0.3;
    border: 1px solid #cbced9;
  }
}

.calendar__button-image {
  width: 9px;
  height: 18px;
}

@media (min-width: $tablet-width) {
  .calendar__month {
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;

    &::before {
      width: 532px;
      top: -27px;
      left: 0;
      box-shadow: 0 86px;
    }
  }

  .calendar__week-list {
    margin-top: 52px;
    margin-bottom: 3px;
    padding-right: 29px;
    padding-left: 29px;
  }

  .calendar__day {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1.8px;

    &--second-letter {
      display: inline;
      text-transform: lowercase;
    }
  }

  .calendar__month-name {
    font-size: 36px;
  }

  .calendar__button-image {
    width: 19px;
    height: 34px;
  }

  .calendar__label {
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 2px;
    font-weight: 500;
    width: 76.5px;
    height: 70px;
  }
}

@media (min-width: $pc-width) {
  .calendar__label {
    width: 143.5px;
    height: 72px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    letter-spacing: 1.8px;
    color: #444444;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 16px;
    padding-top: 5px;

    &--month {
      flex-direction: row;
    }
  }

  .calendar__input {
    &:not(:disabled):hover + .calendar__label {
      background-color: #1d2e5b;
      border: 4px solid #ff5c23;
      color: $white;
      opacity: 1;
    }
  }

  .calendar__month {
    padding-right: 0;
    padding-left: 0;

    &::before {
      width: 1000px;
    }
  }

  .calendar__week-list {
    padding-right: 105px;
    padding-left: 15px;
    margin-top: 32px;
    margin-bottom: 13px;
  }

  .calendar__checkin {
    line-height: 22px;
    display: block;
  }

  .calendar__short-month {
    display: block;
    margin-left: 5px;
  }

  .calendar__button {
    &:hover {
      opacity: 0.5;
    }
  }

  .calendar__body {
    width: 1000px;
  }
}
