.companions-list {
  @include list-reset();
  position: relative;
  font-family: $font;

  &::before {
    @include pseudo(71px,71px);
    background: url("../img/rogovaya-back-mobile@1x.png") no-repeat;
    background-size: contain;

    @media (min-resolution: $retina) {
      background-image: url("../img/rogovaya-back-mobile@2x.png");
    }
    left: -35px;
    top: -35px;
    z-index: 0;
  }
}

.companions-list__item {
  &:not(:last-of-type) {
    margin-bottom: 10px;
  }
}

@media (min-width: $tablet-width) {
  .companions-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &::before {
      width: 143px;
      height: 143px;
      background-image: url("../img/smolov-back-desktop@1x.png");
      top: -95px;
    }
  }

  .companions-list__item {
    &:first-of-type {
      margin-bottom: 0;
    }
  }
}

@media (min-width: $pc-width) {
  .companions-list__item {

    &:first-child {
      margin-right: 60px;
    }

    &:hover {
      .companion__photo {
        transform: scale(1.2);
      }
    }
  }

  .companions-list {
    &::before {
      left: -203px;
      top: 1px;
    }
  }
}
