.companion-select {
  font-family: $font;
  width: 270px;
  border-radius: 20px;
  background-color: #ffd74b;
  padding: 25px;
}

.companion-select__heading {
  color: #1d2e5b;
  font-size: 22px;
  font-weight: 700;
  line-height: 22.49px;
}

.companion-select__label {
  color: #444444;
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
}

.companion-select__arrow {
  background-color: transparent;
  border: none;
}

.companion-select__list {
  @include list-reset();
}

.companion-select__legend {
  color: #1d2e5b;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.companion-select__legend-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.companion-select__item {
  color: #444444;
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
}

.companion-select__input-wrapper {
  display: flex;
}

.companion-select__level-input {
  width: 110px;
  height: 35px;
  text-align: center;
  color: #1d2e5b;
  font-size: 15px;
  font-weight: 500;
  line-height: 13.49px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 1px solid #cbced9;
}

@media (min-width: $tablet-width) {
  .companion-select {
    width: 688px;
  }

  .companion-select__heading {
    font-size: 30px;
    line-height: 30px;
  }

  .companion-select__label {
    color: #444444;
    font-size: 20px;
    line-height: 20px;
  }

  .companion-select__legend {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $tablet-width) and (max-width: $pc-width) {
  .companion-select {
    margin: 0 auto;
  }
  .companion-select__list {
    display: flex;
  }

  .companion-select__arrow {
    display: none;
  }

  .companion-select__field {
    display: flex;
  }
}

@media (min-width: $pc-width) {
  .companion-select {
    width: 285px;
  }
}
