.companion-select {
  font-family: $font;
  width: 270px;
  margin: 0 auto;
  background-color: #ffd74b;
  padding-top: 26px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 22px;
  border-radius: 20px;
}

.companion-select__heading {
  color: #1d2e5b;
  font-size: 22px;
  font-weight: 700;
  line-height: 22.49px;
  letter-spacing: 0.3px;
  margin: 0;
  margin-bottom: 22px;
  margin-left: 5px;
}

.companion-select__label {
  position: relative;
  color: #444444;
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;

  &::before {
    @include pseudo(18px,18px);
    background-color: #ffffff;
    border-radius: 4px;
    top: -4px;
    left: -27px;
  }
}

.companion-select__field-colon {
  display: none;
}

.companion-select__list-input {
  &:checked + .companion-select__label {
    &::after {
      @include pseudo(9px,9px);
      background: url("../img/tick.svg") no-repeat;
      background-size: contain;
      top: 1px;
      left: -22px;
    }
  }
}

.companion-select__field {
  margin-left: 5px;
  margin-right: 5px;

  &--closed {
    .companion-select__field-button {
      &::after {
        transform: rotate(360deg);
      }
    }

    .companion-select__list {
      display: none;
    }

    .companion-select__transport-list {
      display: none;
    }

    .companion-select__input-wrapper {
      display: none;
    }

    .companion-select__level-range {
      display: none;
    }
  }
}

.companion-select__field-button {
  color: #1d2e5b;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border: none;
  border-top: 1px solid #f3c72b;
  cursor: pointer;
  padding-left: 1px;
  padding-right: 0;
  padding-top: 12px;
  padding-bottom: 9px;

  &::after {
    content: "";
    width: 8px;
    height: 4px;
    background: url("../img/dropdown.svg") no-repeat;
    background-size: contain;
    transform: rotate(180deg);
  }
}

.companion-select__list {
  @include list-reset();
  margin: 0;
  margin-top: 8px;
  margin-bottom: 19px;
  margin-left: 27px;
}

.companion-select__legend-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.companion-select__item {
  color: #444444;
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;

  &:not(:last-of-type) {
    margin-bottom: 15px;
  }
}

.companion-select__input-wrapper {
  display: flex;
  margin-top: 2px;
  margin-left: auto;
  margin-right: 15px;
  margin-bottom: 15px;
}

.companion-select__level-label {
  &:last-of-type {
    position: relative;

    .companion-select__level-input {
      border-radius: 0 4px 4px 0;
      border-left: none;
    }

    &::before {
      @include pseudo(16px,11px);
      background-color: #ffffff;
      top: 12px;
      left: -8px;
    }

    &::after {
      @include pseudo(16px,1px);
      background-color: #cbced9;
      top: 17px;
      left: -8px;
    }
  }
}

.companion-select__level-input {
  width: 110px;
  padding-top: 11px;
  padding-bottom: 6px;
  text-align: center;
  color: #1d2e5b;
  font-size: 15px;
  font-weight: 500;
  line-height: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 1px solid #cbced9;
  border-radius: 4px 0 0 4px;
  appearance: textfield;
}

.companion-select__level-range {
  display: flex;
  min-height: 20px;
  align-items: center;
}

.companion-select__level-button {
  position: relative;
  width: 10px;
  height: 10px;
  background-color: #1d2e5b;
  border-radius: 50%;
  padding: 0;
  border: none;
  z-index: 3;

  &:first-of-type {
    margin-left: 67px;
  }

  &:last-of-type {
    margin-left: 133px;
    z-index: 2;

    &::before {
      @include pseudo(220px,2px);
      top: 4px;
      right: 0;
      background: linear-gradient(to left, #1d2e5b 150px, #cccc66 150px);
    }
  }
}

.companion-select__transport-list {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 19px;
}

.companion-select__button {
  margin-top: 17px;
}

@media (min-width: $tablet-width) {
  .companion-select {
    width: 688px;
    margin: 0 auto;
    padding-top: 36px;
    padding-left: 34px;
    padding-bottom: 38px;
  }

  .companion-select__heading {
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0;
    margin-left: 0;
    margin-bottom: 58px;
  }

  .companion-select__field-button {
    font-size: 20px;
    line-height: 30px;
    border: none;
    width: unset;
    min-width: 110px;
    letter-spacing: -0.8px;
    justify-content: flex-start;

    &::after {
      display: none;
    }
  }

  .companion-select__field-colon {
    display: block;
  }

  .companion-select__label {
    color: #444444;
    font-size: 20px;
    line-height: 20px;

    &::before {
      width: 24px;
      height: 24px;
      left: -36px;
    }
  }

  .companion-select__list-input {
    &:checked + .companion-select__label {
      &::after {
        width: 12px;
        height: 12px;
        top: 2px;
        left: -28px;
      }
    }
  }

  .companion-select__input-wrapper {
    order: 3;
    margin-bottom: 0;
  }

  .companion-select__list {
    display: flex;
    margin: 0;
    margin-left: 51px;
    margin-top: 7px;
  }

  .companion-select__item {
    width: 115px;

    &:not(:last-of-type) {
      margin-bottom: 0;
      margin-right: 58px;
    }

    &:nth-of-type(2) {
      margin-right: 57px;
    }
  }

  .companion-select__field {
    display: flex;
    align-items: center;
    margin-left: 0;
    margin-right: 0;

    &:not(:last-of-type) {
      margin-bottom: -1px;
    }

    &--closed {
      .companion-select__field-button {
        &::after {
          background: none;
        }
      }

      .companion-select__list {
        display: flex;
      }

      .companion-select__transport-list {
        display: block;
      }

      .companion-select__input-wrapper {
        display: block;
      }

      .companion-select__level-range {
        display: block;
      }
    }
  }

  .companion-select__transport-list {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 12px;
  }

  .companion-select__level-button {
    width: 13px;
    height: 13px;

    &:first-of-type {
      margin-left: 14px;
    }

    &:last-of-type {
      margin-left: 187px;

      &::before {
        width: 282px;
        height: 3px;
        background: linear-gradient(to left, #1d2e5b 210px, #cccc66 210px);
      }
    }
  }

  .companion-select__button {
    margin-top: 71px;
    padding-top: 12px;
    padding-bottom: 8px;
    border-radius: 25px;
  }

  .companion-select__level-input {
    width: 75px;
    height: 46px;
    padding: 0;
    font-size: 20px;
    line-height: 18px;
  }

  .companion-select__level-label {
    &:last-of-type {
      &::before {
        width: 21px;
        height: 15px;
        top: 15px;
      }

      &::after {
        width: 21px;
        top: 21px;
        left: -10px;
      }
    }
  }

  .companion-select__level-range {
    margin-left: 72px;
    min-height: 0;
  }
}

@media (min-width: $pc-width) {
  .companion-select {
    width: 285px;
  }

  .companion-select__field-button {
    font-weight: 500;

    &::after {
      display: block;
    }
  }
}
