.companion {
  font-family: $font;
  background-color: $white;
  width: 270px;
  border-radius: 20px;
}

.companion__name {
  position: relative;
  color: #1d2e5b;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  margin: 0;
  margin-bottom: 15px;

  &::before {
    @include pseudo(5px,5px);
    left: -17px;
    top: 7px;
    border-radius: 3px;
    background-color: #f97676;
  }

  &--active::before {
    background-color: #81e31e;
  }
}

.companion__data {
  display: flex;
}

.companion__level-block {
  position: absolute;
  top: 30px;
  left: 33px;
  display: flex;
  flex-direction: column;
  z-index: 5;
}

.companion__counter {
  color: $white;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.companion__title {
  position: relative;
  color: $white;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  margin-top: 2px;

  &::before {
    @include pseudo(31px,1px);
    top: -4px;
    left: -2px;
    background-color: #ffffff;
    opacity: 0.3;
  }
}

.companion__photo-wrapper {
  position: relative;
  width: 270px;
}

.companion__photo {
  width: 100%;
  height: auto;
  border-radius: 20px 20px 0 0;
}

.companion__svg {
  position: absolute;
  top: 17px;
  left: 17px;
  stroke-dashoffset: 37;

  &--firsova {
    stroke-dasharray: 169 6;
  }

  &--demin {
    stroke-dasharray: 140 35;
  }
}

.companion__description {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 15px;
}

.companion__directions {
  flex-direction: row;
}

.companion__tags {
  margin-bottom: 11px;
}

.companions__button {
  padding: 22px;
}

@media (min-width: $tablet-width) {
  .companion {
    width: 285px;
  }

  .companion__name {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 21px;

    &::before {
      width: 7px;
      height: 7px;
      left: -22px;
      top: 8px;
    }
  }

  .companion__photo-wrapper {
    width: 285px;
  }

  .companion__description {
    padding-top: 26px;
    padding-bottom: 22px;
  }

  .companion__tags {
    margin-bottom: 20px;
  }

  .companion__button {
    margin-left: 25px;
    width: 618px;
    border-radius: 20px;
    padding: 28px 35px;
    align-items: center;
  }
}

@media (min-width: $pc-width) {
  .companions__list {
    margin-left: auto;
  }

  .companions__button {
    position: absolute;
    left: 40px;
    bottom: 30px;
    width: 274px;
  }
}
