.contacts {
  font-family: $font;
}

.contacts__icon-wrapper {
  @include flex-center();
  width: 45px;
  height: 45px;
  background-color: #121936;
  border-radius: 50%;
}

.contacts__item {
  display: flex;
  align-items: center;
}

.contacts__email {
  color: #192144;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;

  &--yellow {
    color: #ffd74b;
  }
}

.contacts__phone {
  color: #192144;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;

  &--yellow {
    color: #ffd74b;
  }
}

.contacts__address {
  width: 143px;
  color: #192144;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
}
