.contacts {
  font-family: $font;
}

.contacts__icon {
  fill: #ffd74b;
}

.contacts__phone-wrapper {
  @include flex-center();
  width: 45px;
  height: 45px;
  background-color: #121936;
  border-radius: 50%;
}

.contacts__email-wrapper {
  @include flex-center();
  width: 45px;
  height: 45px;
  background-color: #121936;
  border-radius: 50%;
}

.contacts__item {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.contacts__email {
  color: #192144;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  margin-left: 16px;
  text-decoration: none;

  &--yellow {
    color: #ffd74b;
  }
}

.contacts__phone {
  color: #192144;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  margin-left: 16px;
  text-decoration: none;

  &--yellow {
    color: #ffd74b;
  }
}

.contacts__address {
  width: 143px;
  color: #192144;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  margin: 0;
  margin-left: 16px;
}

@media (min-width: $tablet-width) {
  .contacts__phone {
    font-size: 28px;
    line-height: 28px;
    margin-left: 21px;
  }

  .contacts__email {
    font-size: 28px;
    line-height: 28px;
    margin-left: 22px;
  }

  .contacts__icon {
    width: 27px;
    height: 27px;
  }

  .contacts__phone-wrapper {
    width: 68px;
    height: 68px;
  }

  .contacts__email-wrapper {
    width: 68px;
    height: 68px;
  }

  .contacts__address {
    width: 440px;
    font-size: 28px;
    line-height: 28px;
    margin-left: 27px;
  }
}

@media (min-width: $pc-width) {
  .contacts {
    display: flex;
    justify-content: center;
  }

  .contacts__phone-wrapper {
    background-color: #ff8d30;
    width: 50px;
    height: 50px;
  }

  .contacts__email-wrapper {
    background-color: #ffbd30;
    width: 50px;
    height: 50px;
  }

  .contacts__icon {
    width: 18px;
    height: 18px;
  }
}
