.country-alphabet {
  @include list-reset();
  font-family: $font;
  display: flex;
  flex-wrap: wrap;
}

.country-alphabet__item {
  position: relative;

  &--current {
    .step__country-letter {
      background-color: #edeff6;
    }
  }

  &:nth-of-type(n) {
    margin-left: -1px;
    margin-top: -1px;
  }
}

.country-alphabet__letter {
  width: 45px;
  height: 42px;
  background-color: $white;
  color: #1d2e5b;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  border: 1px solid #cbced9;
  cursor: pointer;

  &--active {
    background-color: #1d2e5b;
    color: $white;
    border: none;
  }
}

@media (min-width: $tablet-width) {
  .country-alphabet {
    width: 390px;
  }

  .country-alphabet__letter {
    width: 50px;
    height: 55px;
    background-color: transparent;
    font-size: 60px;
    font-weight: 700;
    line-height: 24px;
    opacity: 0.2;
    border: none;
    padding: 20px;
  }
}

@media (min-width: $pc-width) {
  .country-filter__country-alphabet-list {
    display: none;
  }
  // .country-alphabet__letter {
  //   width: 182px;
  //   padding-bottom: 590px;
  //   text-align: left;
  //   color: #192144;
  //   opacity: 1;
  //   margin-right: 23px;
  // }
}
