.country-group {
  @include list-reset();
  font-family: $font;
}

.country-group__link {
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .country-group__link {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $pc-width) {
  .country-group__link {
    font-size: 20px;
    line-height: 30px;
  }
}
