.directions-list {
  @include list-reset();
  font-family: $font;
}

.directions-list__title {
  color: #161c35;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.directions-list__subtitle {
  opacity: 0.3;
  color: #444444;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.directions-list__counter {
  opacity: 0.3;
  color: #444444;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.directions-list__wrapper {
  display: flex;
  width: 270px;
  background-color: $white;
  border-radius: 10px;
}

.directions-list__item {
  position: relative;
}

.directions-list__flag {
  width: 35px;
  height: 24px;
  position: absolute;
}

@media (min-width: $tablet-width) {
  .directions-list {
    position: relative;

    &::before {
      @include pseudo(141px,141px);
      top: -30px;
      left: -30px;
      border-radius: 20px;
      background-color: #e2e5f2;
    }
  }

  .directions-list__item {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .directions-list__wrapper {
    flex-direction: column;
  }

  .directions-list__flag {
    width: 70px;
    height: 47px;
    left: 58%;
  }
}
