.directions {
  position: relative;
  font-family: $font;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 30px;
  width: $mobile-width;
  margin: 0 auto;
  max-width: 100%;
}

.directions__title {
  color: #ff8d30;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.directions__description {
  color: #444444;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

.directions__wrapper {
  margin-left: 24px;
  margin-right: 50px;
}

.directions__button {
  padding: 22px;
  align-items: center;
}

.directions__list {
  margin-top: 60px;
  margin-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .directions {
    width: $tablet-width;
    background: url("../img/flags-back@1x.png") no-repeat 440px 7px;
    background-size: 289px auto;

    @media (min-resolution: $retina) {
      background-image: url("../img/flags-back@2x.png");
    }

    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 80px;
  }

  .directions__list {
    margin-bottom: 45px;
  }

  .directions__title {
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;
    margin-top: 20px;
    margin-bottom: 57px;
  }

  .directions__description {
    width: 340px;
    margin-bottom: 106px;
    font-size: 28px;
    line-height: 33px;
  }

  .directions__button {
    margin-left: 25px;
    width: 618px;
    border-radius: 20px;
    padding-top: 30px;
    padding-bottom: 28px;
    padding-left: 33px;
    padding-right: 35px;
  }
}

@media (min-width: $pc-width) {
  .directions {
    display: flex;
    flex-wrap: wrap;
    padding-left: 132px;
    padding-right: 132px;
    padding-top: 107px;
    padding-bottom: 150px;
    width: $pc-width;
    background-position: 1091px 35px;
  }

  .directions__list {
    margin: 0;
    order: -1;
  }

  .directions__button {
    position: absolute;
    right: 303px;
    bottom: 138px;
    width: 274px;
  }

  .directions__title {
    margin-bottom: 58px;
    margin-top: 2px;
  }

  .directions__wrapper {
    padding-top: 5px;
    margin-right: 107px;
    margin-left: auto;
  }
}
