.level-block {
  width: 100px;
  height: 100px;
  font-family: $font;
  color: $white;
}

.level-block__title {
  font-size: 18px;
  font-weight: 400;
  line-height: 22.17px;

  &--form {
    color: #444444;
  }

  &::before {
    @include pseudo(49px,2px);
    top: 35px;
    left: 0;
    background-color: #cbced9;
  }
}

.level-block__counter {
  color: #161c35;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;

  &--form {
    font-size: 38px;
    line-height: 38px;
  }
}

.level-block__indicator {
  position: relative;
  stroke-dasharray: 300 60;
  stroke-dashoffset: 85;
}

.level-block__wrapper {
  text-align: center;
  position: absolute;
  top: 56px;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: $tablet-width) {
  .level-block {
    width: 94px;
    height: 94px;
  }

  .level-block__indicator {
    width: 94px;
    height: 94px;
    stroke-dasharray: 300 60;
    stroke-dashoffset: 85;
  }

  .level-block__wrapper {
    top: 51px;
  }
}

@media (min-width: $pc-width) {
  .level-block {
    position: relative;
  }

  .level-block__counter {
    color: #ffffff;
    font-size: 38px;
    line-height: 38px;
  }

  .level-block__title {
    &--form {
      color: #ffffff;
    }

    &::before {
      top: 35px;
      background-color: #ffffff;
      opacity: 0.3;
    }
  }
}
