.main-nav {
  font-family: $font;
}

.main-nav__list {
  @include list-reset();
  text-align: center;
  margin-top: 37px;
}

.main-nav__link {
  color: #192144;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
}

.main-nav__login {
  border-radius: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 270px;
  margin: 0 auto;
  margin-top: 52px;
  color: #161c35;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.main-nav__content {
  background-color: $white;
  position: absolute;
  top: 71px;
  left: 0;
  width: 100%;
  padding-top: 6px;
  padding-bottom: 12px;
  z-index: 15;

  &--index {
    top: 73px;
  }

  &--closed {
    top: -1000px;
  }
}

.main-nav__wrapper {
  width: $mobile-width;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
}

.main-nav__button {
  width: 25px;
  height: 11px;
  background-color: transparent;
  border: none;
}

.main-nav__button-icon {
  fill: $white;

  &--closed {
    display: none;
  }
}

.main-nav__contacts {
  margin-top: 50px;
}

.main-nav__contacts-phone {
  margin-left: 15px;
}

.main-nav__contacts-email {
  margin-left: 15px;
}

.main-nav__social {
  margin-top: 29px;
}

@media (min-width: $tablet-width) {
  .main-nav__link {
    font-size: 60px;
    line-height: 71.01px;
    text-transform: uppercase;
    letter-spacing: -0.85px;
  }

  .main-nav__content {
    padding-left: 97px;
    padding-right: 97px;
    padding-top: 0;
    top: 110px;
    min-height: 800px;

    &--closed {
      top: -1000px;

      .main-nav__login {
        top: 988px;
      }
    }
  }

  .main-nav__wrapper {
    width: $tablet-width;
    margin: 0 auto;
    padding-left: 0;
    padding-top: 37px;
  }

  .main-nav__button {
    margin-left: 160px;
  }

  .main-nav__login {
    position: absolute;
    top: -120px;
    right: 40px;
    width: 188px;
    font-size: 20px;
    line-height: 30px;
  }

  .main-nav__list {
    text-align: left;
  }

  .main-nav__contacts {
    margin-top: 130px;
  }

  .main-nav__social {
    margin-top: 113px;
  }
}

@media (min-width: $pc-width) {
  .main-nav {
    display: flex;
    width: 100%;
  }

  .main-nav__content {
    position: static;
    display: flex;
    align-items: center;
    background-color: $bg-header-pc;
    min-height: 0;
    padding: 0;

    &--closed {
      top: -1000px;
    }
  }

  .main-nav__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 145px;
    padding-right: 20px;
    margin-top: 3px;
  }

  .main-nav__list {
    position: relative;
    display: flex;
    margin: 0;
    margin-top: 10px;

    &::before {
      @include pseudo(60px,2px);
      background-color: #ffffff;
      left: -105px;
      top: 13px;
    }
  }

  .main-nav__item {
    &:not(:last-of-type) {
      margin-right: 33px;
    }
  }

  .main-nav__link {
    display: inline-block;
    position: relative;
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0;

    &:active {
      color: #ffd74b;
      opacity: 0.3;
    }

    &:hover {
      transform: translateY(-100%);
    }
  }

  .main-nav__link-title {
    position: relative;
    display: inline-block;
    overflow: hidden;

    &::before {
      content: attr(data-hover);
      position: absolute;
      top: 100%;
    }
  }

  .main-nav__login {
    position: static;
    order: 3;
    width: 189px;
    margin: 0;
    padding-top: 11px;
    padding-bottom: 9px;
  }

  .main-nav__contacts {
    margin-left: auto;
    margin-top: 0;
    order: 2;
  }

  .main-nav__social {
    margin-top: 0;
  }

  .main-nav__social.social {
    display: none;
  }

  .main-nav__contacts-phone {
    display: none;
  }

  .main-nav__contacts-email {
    display: none;
  }

  .main-nav__button {
    display: none;
  }
}
