.main-nav {
  font-family: $font;
}

.main-nav__list {
  @include list-reset();
  text-align: center;
  margin-top: 37px;
}

.main-nav__link {
  color: #192144;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
}

.main-nav__login {
  border-radius: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 270px;
  margin: 0 auto;
  margin-top: 50px;
  color: #161c35;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.main-nav__content {
  background-color: $white;
  padding-left: 25px;
  padding-right: 25px;
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  min-height: 568px;

  &--closed {
    top: -1000px;
  }
}

.main-nav__wrapper {
  width: $mobile-width;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
}

.main-nav__button {
  width: 25px;
  height: 11px;
  background-color: transparent;
  border: none;
}

.main-nav__button-icon {
  fill: $white;
}

.main-nav__contacts {
  margin-top: 50px;
}

.main-nav__contacts-phone {
  margin-left: 15px;
}

.main-nav__contacts-email {
  margin-left: 15px;
}

.main-nav__social {
  margin-top: 32px;
}

@media (min-width: $tablet-width) {
  .main-nav__link {
    font-size: 60px;
    line-height: 71.01px;
    text-transform: uppercase;
  }

  .main-nav__content {
    padding-left: 97px;
    padding-right: 97px;
  }

  .main-nav__wrapper {
    width: $tablet-width;
  }

  .main-nav__button {
    margin-left: 200px;
  }

  .main-nav__login {
    position: absolute;
    top: -280px;
    right: -250px;
    border-radius: 25px;
    width: 188px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $pc-width) {
  .main-nav {
    display: flex;
  }

  .main-nav__content {
    position: static;
    display: flex;
    align-items: center;
  }

  .main-nav__list {
    display: flex;
  }

  .main-nav__link {
    // color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
  }

  .main-nav__login {
    display: none;
    position: static;
  }

  .main-nav__social.social {
    display: none;
  }

  .main-nav__contacts-phone.contacts__phone {
    display: none;
  }

  .main-nav__contacts-email.contacts__email {
    display: none;
  }

  .main-nav__contacts {
    display: flex;
  }

  .main-nav__button {
    display: none;
  }
}
