.map {
  position: relative;
  margin-top: -30px;
  min-height: 330px;
  z-index: -4;
}

.map__iframe {
  display: block;
  width: 100%;
  border: none;
}

@media (min-width: $tablet-width) {
  .map {
    min-height: 630px;
    margin-top: -60px;
  }

  .map__iframe {
    min-height: 500px;
  }
}
