.page-main {
  font-family: $font;
  margin: 0 auto;

  &--index {
    background-image: url("../img/globe-back-mobile@1x.jpg");
    background-color: $bg-header;
    background-repeat: no-repeat;
    background-position: center -72px;
    background-size: 320px auto;

    @media (min-resolution: $retina) {
      background-image: url("../img/globe-back-mobile@2x.jpg");
    }
  }
}

.page-main__head-box {
  position: relative;
  width: $mobile-width;
  margin: 0 auto;
  padding-bottom: 9px;
  max-width: 100%;
}

.page-main__heading {
  position: relative;
  padding-top: 29px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0;

  &::after {
    @include pseudo(214px,5px);
    border-radius: 2px;
    background-color: #ff8d30;
    top: 75px;
    left: 25px;
  }

  &--catalog {
    &::after {
      width: 173px;
    }
  }
}

.page-main__index-link {
  display: none;
}

.page-main__form-wrapper {
  position: relative;
  background-color: #161c35;
  border-radius: 0 0 20px 20px;
  z-index: 10;
}

.page-main__catalog-wrapper {
  position: relative;
  background-color: #161c35;
  border-radius: 0 0 20px 20px;
  z-index: 10;
}

.page-main__companion-select {
  margin: 0 auto;
}

.page-main__level-block {
  position: absolute;
  top: 100px;
  left: 44px;
}

.page-main__darkblue-wrapper {
  position: relative;
  z-index: 6;
  background-color: #192144;
  border-radius: 0 0 30px 30px;
}

.page-main__contacts-wrapper {
  position: relative;
  z-index: 2;
  background-color: #192144;
  border-radius: 0 0 30px 30px;
  margin-top: -35px;
  padding-top: 123px;
}

.page-main__companions-wrapper {
  position: relative;
  z-index: 4;
  background-color: #192144;
  border-radius: 0 0 30px 30px;
  margin-top: -30px;
  padding-top: 115px;
}

.page-main__grey-wrapper {
  position: relative;
  z-index: 5;
  margin-top: -60px;
  padding-top: 113px;
  background-color: #edeff6;
  border-radius: 0 0 30px 30px;
}

.page-main__newprofile-wrapper {
  position: relative;
  z-index: 3;
  margin-top: -145px;
  padding-top: 113px;
  background-color: #edeff6;
  border-radius: 0 0 30px 30px;
}

.page-main__intro-wrapper {
  z-index: 5;
}

.page-main__yellow-wrapper {
  position: relative;
  background-color: $yellow;
  border-radius: 0 0 30px 30px;
  margin-top: -30px;
  z-index: 1;
  padding-top: 50px;
}

.page-main__plans-wrapper {
  position: relative;
  background-color: #dfe3f0;
  border-radius: 30px 30px 0 0;
  margin-top: -48px;
  z-index: 3;
  padding-bottom: 80px;
}

.page-main__filter-counter-wrapper {
  margin-top: -30px;
  padding-top: 47px;
  padding-bottom: 28px;
  background-color: #e2e5f2;
  // position: relative;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  border-radius: 0 0 20px 20px;
  z-index: 9;

  &--closed {
    padding-bottom: 13px;

    .country-filter__country-box,
    .country-filter__continent-list,
    .country-filter__button {
      display: none;
    }

    .country-filter__close-btn {
      &::before {
        background-image: url("../img/dots.svg");
        width: 17px;
        height: 3px;
        top: 8px;
        left: -1px;
      }
    }
  }
}

.page-main__companion-wrapper {
  position: relative;
  background-color: #edeff6;
  z-index: 8;
  margin-top: -30px;
  padding-top: 106px;
}

.page-main__profile-photo-wrapper {
  position: absolute;
  left: 178px;
  top: 101px;
  width: 100px;
  line-height: 0;
}

.page-main__profile-photo {
  border-radius: 50%;
  width: 100px;
  height: auto;
}

.page-main__map {
  margin-top: -30px;
}

@media (min-width: $tablet-width) {
  .page-main {
    &--index {
      background-image: none;
    }
  }

  .page-main__intro-wrapper {
    background-color: $bg-header-tablet;
  }

  .page-main__head-box {
    display: flex;
    width: $tablet-width;
    justify-content: space-between;
    border-radius: 0 0 20px 20px;
    padding-left: 74px;
    padding-right: 75px;
    padding-top: 67px;
    padding-bottom: 63px;
  }

  .page-main__heading {
    padding-left: 0;
    padding-top: 19px;

    &::after {
      width: 355px;
      height: 8px;
      border-radius: 4px;
      top: 147px;
      left: 0;
    }

    &--catalog {
      &::after {
        width: 287px;
      }
    }
  }

  .page-main__index-link {
    position: relative;
    display: block;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 44px;
    margin-right: 61px;

    &::before {
      @include pseudo(32px,16px);
      top: 45px;
      right: -61px;
      background: url("../img/return.svg") no-repeat;
      background-size: contain;
    }
  }

  .page-main__filter-counter-wrapper {
    padding-top: 90px;
    padding-bottom: 74px;
    border-radius: 0 0 60px 60px;
    margin-top: -60px;

    &--closed {
      padding-bottom: 48px;

      .country-filter__heading-wrapper {
        margin-top: 29px;
        margin-bottom: 0;
      }

      .country-filter__continent-list {
        display: flex;
        margin-top: 0;
        margin-bottom: 0;
      }

      .country-filter__down-btn {
        display: none;
      }

      .country-filter__show-all {
        display: inline;
        color: #192144;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
      }

      .country-filter__close-btn {
        width: 135px; //tmp
        margin-left: 44px;
        margin-top: -10px;

        &::before {
          width: 27px;
          height: 5px;
          background-size: 27px 5px;
          top: 7px;
          left: 153px;
        }
      }
    }
  }

  .page-main__catalog-wrapper {
    border-radius: 0 0 60px 60px;
  }

  .page-main__darkblue-wrapper {
    border-radius: 0 0 60px 60px;
    background-color: $bg-header-tablet;
    margin-top: -45px;
  }

  .page-main__contacts-wrapper {
    border-radius: 0 0 60px 60px;
    margin-top: -80px;
  }

  .page-main__companions-wrapper {
    border-radius: 0 0 60px 60px;
    margin-top: -60px;
  }

  .page-main__form-wrapper {
    border-radius: 0 0 60px 60px;
  }

  .page-main__grey-wrapper {
    border-radius: 0 0 60px 60px;
  }

  .page-main__companion-wrapper {
    margin-top: -60px;
    padding-top: 242px;
    padding-bottom: 122px;
  }

  .page-main__newprofile-wrapper {
    border-radius: 0 0 60px 60px;
    margin-top: -60px;
    padding-top: 0;
  }

  .page-main__yellow-wrapper {
    border-radius: 0 0 60px 60px;
    margin-top: -60px;
  }

  .page-main__plans-wrapper {
    border-radius: 30px 30px 0 0;
    margin-top: -40px;
  }

  .page-main__profile-photo-wrapper {
    width: 94px;
    top: 283px;
    left: 600px;
  }

  .page-main__profile-photo {
    border-radius: 5px;
    width: 94px;
    height: auto;
  }

  .page-main__level-block {
    top: 283px;
    left: 75px;
  }

  .page-main__map {
    margin-top: -60px;
  }
}

@media (min-width: $pc-width) {
  .page-main {
    background-color: $bg-header-pc;
  }

  .page-main__intro-wrapper {
    background: url("../img/globe-back-desktop@1x.jpg") no-repeat center bottom;
    background-size: 1800px auto;

    @media (min-resolution: $retina) {
      background-image: url("../img/globe-back-desktop@2x.jpg");
    }
    background-color: $bg-header-pc;
    border-radius: 0 0 60px 60px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 7;
    min-height: 650px;
    padding-bottom: 22px;
  }

  .page-main__head-box {
    width: $pc-width;
    justify-content: space-between;
    padding-top: 119px;
    padding-bottom: 1px;
    padding-left: 78px;
    padding-right: 183px;

    &--form {
      padding-top: 60px;
    }
  }

  .page-main__index-link {
    margin-right: 0;
    padding-top: 25px;

    &::before {
      top: 25px;
    }

    &:active {
      opacity: 0.3;
    }

    &:hover {
      opacity: 0.6;
    }
  }

  .page-main__heading {
    padding-right: 0;
    padding-top: 0;
    margin-left: 48px;

    &--form {
      margin-top: 58px;

      &::after {
        top: 129px;
      }
    }

    &--catalog {
      &::after {
        width: 287px;
        left: 1px;
        top: 127px;
      }
    }
  }

  .page-main__plans-wrapper {
    border-radius: 60px 60px 0 0;
    margin-top: -50px;
    padding-left: calc(50% - 720px);
    padding-right: calc(50% - 720px);
    padding-bottom: 100px;
  }

  .page-main__catalog-wrapper {
    padding-bottom: 61px;
  }

  .page-main__filter-counter-wrapper {
    border-radius: 0;
    position: relative;

    &--closed {
      .country-filter__heading-wrapper {
        align-items: flex-start;
      }

      .country-filter__close-btn {
        margin-left: 335px;
      }
    }
  }

  .page-main__tarifs {
    padding: 132px;
  }

  .page-main__companion-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 137px;
    padding-bottom: 212px;
  }

  .page-main__darkblue-wrapper {
    border-radius: 0 0 60px 60px;
    margin-top: -100px;
  }

  .page-main__level-block {
    position: static;
    top: unset;
    left: unset;
    margin-left: 472px;
    margin-top: 44px;
  }

  .page-main__companions-wrapper {
    padding-top: 60px;
  }

  .page-main__profile-photo-wrapper {
    position: static;
    margin-left: 45px;
    width: 190px;
    height: 190px;
  }

  .page-main__profile-photo {
    width: 190px;
    height: 190px;
    border-radius: 10px 10px 0 0;
  }

  .page-main__companion-select {
    margin-left: 85px;
    margin-right: 0;
  }

  .page-main__map {
    margin-top: -183px;
    margin-left: -41px;
  }
}
