.page-main {
  font-family: $font;
  margin: 0 auto;

  &--index {
    background-image: url("../img/globe-back-mobile@1x.jpg");
    background-color: $bg-header;
    background-repeat: no-repeat;
    background-position: center -72px;
  }
}

.page-main__head-box {
  position: relative;
  width: $mobile-width;
  margin: 0 auto;
  padding-bottom: 10px;
}

.page-main__heading {
  position: relative;
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0;

  &::after {
    @include pseudo(214px,5px);
    border-radius: 2px;
    background-color: #ff8d30;
    top: 67px;
    left: 25px;
  }
}

.page-main__index-link {
  display: none;
}

.page-main__form-wrapper {
  position: relative;
  background-color: #161c35;
  border-radius: 0 0 20px 20px;
  z-index: 10;
}

.page-main__level-block {
  position: absolute;
  top: 91px;
  left: 45px;
}

.page-main__darkblue-wrapper {
  position: relative;
  z-index: 6;
  background-color: #192144;
  border-radius: 0 0 30px 30px;
}

.page-main__contacts-wrapper {
  position: relative;
  z-index: 2;
  background-color: #192144;
  border-radius: 0 0 30px 30px;
  margin-top: -35px;
  padding-top: 123px;
}

.page-main__companions-wrapper {
  position: relative;
  z-index: 4;
  background-color: #192144;
  border-radius: 0 0 30px 30px;
  margin-top: -30px;
  padding-top: 115px;
}

.page-main__grey-wrapper {
  position: relative;
  z-index: 5;
  margin-top: -60px;
  padding-top: 113px;
  background-color: #edeff6;
  border-radius: 0 0 30px 30px;
}

.page-main__newprofile-wrapper {
  position: relative;
  z-index: 3;
  margin-top: -145px;
  padding-top: 113px;
  background-color: #edeff6;
  border-radius: 0 0 30px 30px;
}

.page-main__intro-wrapper {
  z-index: 5;
}

.page-main__yellow-wrapper {
  position: relative;
  background-color: $yellow;
  border-radius: 0 0 30px 30px;
  margin-top: -30px;
  z-index: 1;
  padding-top: 50px;
}

.page-main__plans-wrapper {
  position: relative;
  background-color: #dfe3f0;
  border-radius: 30px 30px 0 0;
  margin-top: -48px;
  z-index: 3;
  padding-bottom: 80px;
}

.page-main__filter-counter-wrapper {
  background-color: #e2e5f2;
  position: relative;
  border-radius: 0 0 20px 20px;
}

.page-main__companion-wrapper {
  background-color: #edeff6;
}

.page-main__profile-photo-wrapper {
  position: absolute;
  left: 178px;
  top: 92px;
  width: 100px;
  line-height: 0;
}

.page-main__profile-photo {
  border-radius: 50%;
  width: 100px;
  height: auto;
}

@media (min-width: $tablet-width) {
  .page-main {
    &--index {
      background-image: none;
    }
  }

  .page-main__intro-wrapper {
    background-color: $bg-header-tablet;
  }

  .page-main__head-box {
    display: flex;
    width: $tablet-width;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 20px 20px;
    padding-left: 77px;
    padding-right: 75px;
    padding-top: 67px;
    padding-bottom: 62px;
  }

  .page-main__heading {
    padding-left: 0;

    &::after {
      width: 355px;
      height: 8px;
      border-radius: 4px;
      top: 147px;
      left: 0;
    }
  }

  .page-main__index-link {
    display: block;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
  }

  .page-main__darkblue-wrapper {
    border-radius: 0 0 60px 60px;
    background-color: $bg-header-tablet;
    margin-top: -45px;
  }

  .page-main__contacts-wrapper {
    border-radius: 0 0 60px 60px;
    margin-top: -80px;
  }

  .page-main__companions-wrapper {
    border-radius: 0 0 60px 60px;
    margin-top: -60px;
  }

  .page-main__form-wrapper {
    border-radius: 0 0 60px 60px;
  }

  .page-main__grey-wrapper {
    border-radius: 0 0 60px 60px;
  }

  .page-main__newprofile-wrapper {
    border-radius: 0 0 60px 60px;
    margin-top: -60px;
    padding-top: 0;
  }

  .page-main__yellow-wrapper {
    border-radius: 0 0 60px 60px;
    margin-top: -60px;
  }

  .page-main__plans-wrapper {
    border-radius: 30px 30px 0 0;
    margin-top: -40px;
  }

  .page-main__profile-photo-wrapper {
    width: 94px;
    top: 283px;
    left: 600px;
  }

  .page-main__profile-photo {
    border-radius: 5px;
    width: 94px;
    height: auto;
  }

  .page-main__level-block {
    top: 283px;
    left: 75px;
  }
}

@media (min-width: $pc-width) {
  .page-main {
    background-color: $bg-header-pc;
  }

  .page-main__intro-wrapper {
    background: url("../img/traveller-illustration-desktop@1x.png") no-repeat 605px 10px,
      url("../img/globe-back-desktop@1x.jpg") no-repeat center bottom;
    background-color: $bg-header-pc;
    border-radius: 0 0 60px 60px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 7;
    min-height: 650px;
    padding-bottom: 22px;
  }

  .page-main__head-box {
    width: $pc-width;
    justify-content: flex-start;
    padding-top: 60px;
    padding-bottom: 0;
  }

  .page-main__heading {
    padding-right: 0;
    padding-top: 0;
    margin-left: 48px;

    &::after {
      width: 357px;
      left: 1px;
      top: 127px;
    }
  }

  .page-main__plans-wrapper {
    border-radius: 60px 60px 0 0;
    margin-top: -40px;
    padding-left: 124px;
    padding-right: 60px;
    padding-bottom: 100px;
  }

  .page-main__tarifs {
    padding: 132px;
  }

  .page-main__companion-wrapper {
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
    padding-left: 40px;
  }

  .page-main__darkblue-wrapper {
    border-radius: 0 0 60px 60px;
    margin-top: -100px;
  }

  .page-main__level-block {
    position: static;
    top: unset;
    left: unset;
    margin-left: 475px;
    margin-top: -7px;
  }

  .page-main__companions-wrapper {
    padding-top: 60px;
  }

  .page-main__profile-photo-wrapper {
    position: static;
    margin-left: 45px;
  }

  .page-main__profile-photo {
    width: 190px;
    height: 190px;
    border-radius: 10px 10px 0 0;
  }
}
