.page-header {
  font-family: $font;
  position: relative;
  margin: 0 auto;

  &--closed {
    background-color: $bg-header;
  }
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  width: $mobile-width;
  margin: 0 auto;
  padding: 27px 25px;
  padding-right: 30px;
  max-width: 100%;

  &--inner {
    padding-top: 19px;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    &--closed {
      background-color: #161c35;
    }

    &--index {
      background-color: $bg-header-tablet;
    }

    &--fixed {
      position: fixed;
      width: 100%;
      z-index: 20;
      background-color: $white;

      .main-nav__button-icon {
        fill: #cccccc;
      }
    }

    &--fixed + .page-main {
      padding-top: 132px;
    }

    justify-content: flex-start;
  }

  .page-header__wrapper {
    width: $tablet-width;
    justify-content: flex-start;
    align-items: center;
    padding: 45px 40px;
  }
}

@media (min-width: $pc-width) {
  .page-header {
    background-color: $bg-header;

    &--fixed {
      position: fixed;
      width: 100%;
      z-index: 20;
      left: 50%;
      transform: translateX(-50%);
      background-color: $white;
      min-height: 90px;
      display: flex;
      align-items: center;

      .page-header__wrapper {
        padding-top: 0;
      }

      .main-nav__content {
        background-color: $white;
      }

      .main-nav__link {
        color: #192144;
      }

      .main-nav__wrapper {
        padding-top: 0;
      }

      .page-header__logo {
        margin-top: 0;
      }

      .main-nav__list {
        &::before {
          background-color: #192144;
        }
      }
    }

    &--fixed + .page-main {
      padding-top: 100px;
    }
  }

  .page-header__logo {
    margin-top: 35px;
    margin-right: 147px;
  }

  .page-header__wrapper {
    width: $pc-width;
    padding-left: 60px;
    padding-top: 10px;
    padding-bottom: 0;
  }
}
