.page-footer {
  font-family: $font;
  background-color: $white;
  position: relative;
  z-index: 2;
  width: 320px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  border-radius: 30px 30px 0 0;
  margin-top: -10px;
}
