.plans {
  font-family: $font;
  padding: 25px;
  width: $mobile-width;
  margin: 0 auto;
  padding-top: 28px;
}

.plans__heading {
  color: #1d2e5b;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
}

.plans__list {
  @include list-reset();
  counter-reset: plans-counter;
  margin: 0;
  margin-top: 30px;
}

.plans__item {
  position: relative;
  border-radius: 10px;
  background-color: $white;
  padding-left: 25px;
  padding-top: 24px;
  padding-bottom: 20px;
  padding-right: 25px;
  min-height: 154px;

  &:not(:last-of-type) {
    margin-bottom: 10px;
  }

  &::before {
    counter-increment: plans-counter;
    content: counter(plans-counter) ".";
    position: absolute;
    left: 22px;
    color: #1d2e5b;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 1.6px;
  }
}

.plans__direction {
  display: block;
  color: #1d2e5b;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-indent: 15px;
  margin-bottom: 21px;
}

.plans__companions,
.plans__date {
  display: block;
  color: #1d2e5b;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
}

.plans__companions {
  margin-bottom: 5px;
}

.plans__date {
  margin-bottom: 21px;
}

.plans__change {
  display: block;
  opacity: 0.3;
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .plans {
    width: $tablet-width;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 49px;
  }

  .plans__heading {
    font-size: 36px;
    line-height: 50px;
  }

  .plans__list {
    width: 100%;
    margin-top: 40px;
  }

  .plans__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 28px;
    padding-left: 32px;
    padding-bottom: 16px;

    &::before {
      left: 570px;
      top: 45px;
      font-size: 20px;
      line-height: 18px;
      letter-spacing: 2px;
    }
  }

  .plans__direction {
    flex-basis: 100%;
    font-size: 24px;
    line-height: 50px;
    margin-bottom: 41px;
    text-indent: 0;
  }

  .plans__companions {
    font-size: 20px;
    line-height: 18px;
    margin-bottom: 0;
  }

  .plans__date {
    font-size: 20px;
    line-height: 18px;
    margin-bottom: 0;
  }

  .plans__change {
    font-size: 20px;
    line-height: 18px;
  }
}

@media (min-width: $pc-width) {
  .plans {
    width: $pc-width;
    padding-top: 53px;
    padding-left: 0;
    padding-right: 0;
  }

  .plans__list {
    width: 1256px;
  }

  .plans__item {
    min-height: 97px;
    align-items: center;
    padding-left: 96px;
    padding-top: 16px;

    &:not(:last-of-type) {
      margin-bottom: 15px;
    }

    &::before {
      left: 42px;
      top: 42px;
      font-size: 20px;
    }
  }

  .plans__heading {
    margin-left: 5px;
  }

  .plans__direction {
    flex-basis: 430px;
    margin-bottom: 0;
  }
}
