.plans {
  font-family: $font;
  background-color: #dfe3f0;
  border-radius: 30px 30px 0 0;
  padding: 25px;
}

.plans__heading {
  color: #1d2e5b;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.plans__list {
  @include list-reset();
  counter-reset: plans-counter;
}

.plans__item {
  position: relative;
  border-radius: 10px;
  background-color: $white;
  padding-left: 10px;

  &::before {
    counter-increment: plans-counter;
    content: counter(plans-counter)".";
    position: absolute;
    left: 0;
    color: #1d2e5b;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 1.6px;
  }
}

.plans__direction {
  display: block;
  color: #1d2e5b;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
}

.plans__companions,
.plans__date {
  display: block;
  color: #1d2e5b;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
}

.plans__change {
  display: block;
  opacity: 0.3;
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
}

@media (min-width: $tablet-width) {
  .plans__list {
    width: 618px;
  }

  .plans__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &::before {
      left: 500px;
      top: 20px;
      font-size: 20px;
      line-height: 18px;
      letter-spacing: 2px;
    }
  }

  .plans__direction {
    flex-basis: 100%;
    font-size: 24px;
    line-height: 50px;
  }

  .plans__companions {
    font-size: 20px;
    line-height: 18px;
  }

  .plans__date {
    font-size: 20px;
    line-height: 18px;
  }

  .plans__change {
    font-size: 20px;
    line-height: 18px;
  }
}

@media (min-width: $pc-width) {
  .plans__list {
    width: 1256px;
  }

  .plans__direction {
    flex-basis: 50%;
  }
}
