.plan-add {
  font-family: $font;
  position: relative;
  background-color: #d4d9eb;
  border-radius: 30px 30px 0 0;
  z-index: 4;
  margin-top: -45px;
}

.plan-add__form {
  padding: 25px;
  padding-top: 30px;
  border-radius: 30px;
  width: $mobile-width;
  margin: 0 auto;
}

.plan-add__title {
  color: #1d2e5b;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
}

.plan-add__indicators {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 48px;
  margin-left: 35px;
}

.plan-add__indicator {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #1d2e5b;
  opacity: 0.3;

  &--current {
    opacity: 1;
  }
}

.plan-add__title-wrapper {
  display: flex;
  margin-bottom: 29px;
}

@media (min-width: $tablet-width) {
  .plan-add {
    margin-top: -30px;
  }

  .plan-add__form {
    width: $tablet-width;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 45px;
  }

  .plan-add__indicators {
    margin-left: auto;
    width: 72px;
  }

  .plan-add__title {
    font-size: 36px;
    line-height: 50px;
  }

  .plan-add__title-wrapper {
    margin-bottom: 49px;
  }
}

@media (min-width: $pc-width) {
  .plan-add {
    border-radius: 60px;
    margin-top: -60px;
  }

  .plan-add__form {
    width: $pc-width;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 48px;
  }

  .plan-add__title-wrapper {
    padding-left: 69px;
  }
}
