.profile {
  font-family: $font;
  background-color: #edeff6;
  padding: 25px;
}

.profile__form-box {
  display: flex;
  justify-content: space-between;
}

.profile__photo {
  border-radius: 50%;
}

.profile__field {
  border: 1px solid #cbced9;
  border-radius: 10px;
  padding: 20px;
}

.profile__legend {
  color: #1d2e5b;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.profile__tags-list {
  width: 100%;
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  background-color: inherit;
  border: none;
  outline: none;
  resize: none;
}
