.profile {
  font-family: $font;
  position: relative;
  z-index: 2;
  background-color: #edeff6;
  margin-top: -30px;
  padding-top: 130px;
  padding-bottom: 80px;
}

.profile__form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
  width: $mobile-width;
  margin: 0 auto;
  max-width: 100%;
}

.profile__transport-field {
  position: relative;
  width: 270px;
  border: 1px solid #cbced9;
  border-radius: 10px;
  padding: 15px;
  padding-bottom: 14px;
  margin-top: 19px;
}

.profile__legend {
  position: absolute;
  color: #1d2e5b;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #edeff6;
  padding-right: 18px;
  padding-left: 18px;

  &--tags {
    top: -8px;
    left: 98px;
  }

  &--transport {
    top: -8px;
    left: 75px;
  }
}

.profile__tags-field {
  position: relative;
  width: 270px;
  margin-top: 32px;
}

.profile__tags-list {
  width: 100%;
  border: 1px solid #cbced9;
  border-radius: 10px;
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  padding-right: 20px;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 23px;
  outline: none;
  resize: none;
  background-color: transparent;

  &:placeholder {
    opacity: 0.6;
  }

  &:active {
    border-color: #161c35;
  }
}

.profile__change-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  color: #161c35;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  border: 0;
  padding-top: 6px;
  padding-bottom: 4px;
}

.profile__button-file {
  &:active + .profile__button-label {
    background-color: #d1d7e9;

    .profile__change-btn {
      opacity: 0.3;
    }
  }
}

.profile__button-label {
  margin-top: 23px;
  border-radius: 20px;
  background-color: #dfe3f0;
}

@media (min-width: $tablet-width) {
  .profile {
    margin-top: -60px;
    padding-top: 80px;
    padding-bottom: 95px;
  }

  .profile__form {
    width: $tablet-width;
    padding-top: 45px;
    padding-left: 75px;
    padding-right: 75px;
  }

  .profile__transport-field {
    width: 308px;
    order: 2;
    padding-top: 25px;
    padding-bottom: 24px;
    margin: 0 auto;
  }

  .profile__tags-field {
    width: 618px;
    order: 5;
    margin-top: 50px;
  }

  .profile__tags-list {
    font-size: 20px;
    line-height: 24px;
    padding-left: 38px;
    padding-top: 33px;
    padding-bottom: 11px;
  }

  .profile__change-btn {
    width: 618px;
    font-size: 20px;
    line-height: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    padding-top: 21px;
    padding-bottom: 21px;
  }

  .profile__button-label {
    order: 4;
    margin-top: 52px;
    border-radius: 10px;
  }

  .profile__legend {
    font-size: 20px;
    letter-spacing: 2px;

    &--tags {
      top: 86px;
      left: 263px;
    }

    &--transport {
      top: 83px;
    }
  }
}

@media (min-width: $pc-width) {
  .profile {
    padding-bottom: 110px;
  }

  .profile__form {
    position: relative;
    width: $pc-width;
    padding-top: 55px;
    padding-left: 124px;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .profile__tags-field {
    width: 730px;
    order: 1;
    margin-top: 0;
    line-height: 0;
  }

  .profile__drop-word {
    display: none;
  }

  .profile__transport-field {
    width: 384px;
    order: 2;
    margin-left: 141px;
    padding-top: 22px;
    padding-left: 18px;
  }

  .profile__tags-list {
    &:hover {
      border-color: #aeb4cb;
    }
  }

  .profile__button-label {
    position: absolute;
    right: 155px;
    top: -25px;
    width: 190px;
    margin-top: 0;
    background-color: #dfe3f0;
  }

  .profile__change-btn {
    width: 190px;
    padding-bottom: 15px;
  }

  .profile__button-file {
    &:hover + .profile__button-label {
      background-color: #d1d7e9;
    }
  }

  .profile__legend {
    font-size: 20px;
    letter-spacing: 2px;

    &--tags {
      top: 86px;
      left: 17px;
    }

    &--transport {
      top: 85px;
      left: 115px;
    }
  }
}
