.review {
  font-family: $font;
  background-color: $dark-bg;
  width: $mobile-width;
  margin: 0 auto;
  padding-top: 47px;
  padding-left: 50px;
  padding-right: 113px;
  padding-bottom: 113px;
  max-width: 100%;
}

.review__text {
  color: $white;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  margin: 0;
}

.review__author-name {
  color: $white;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  display: block;
  margin-top: 18px;
  font-style: normal;
}

.review__author-profession {
  color: $white;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

@media (min-width: $tablet-width) {
  .review {
    width: $tablet-width;
    min-height: 622px;
    padding-left: 75px;
    padding-top: 85px;
    background: url("../img/traveller-illustration-tablet@1x.png") no-repeat 285px 31px;
    background-size: 372px auto;

    @media (min-resolution: $retina) {
      background-image: url("../img/traveller-illustration-tablet@2x.png");
    }
  }

  .review__wrapper {
    background: url("../img/globe-back-tablet@1x.jpg") no-repeat center bottom;
    background-size: 1479px auto;

    @media (min-resolution: $retina) {
      background-image: url("../img/globe-back-tablet@2x.jpg");
    }
  }

  .review__text {
    font-size: 28px;
    line-height: 33px;
    width: 275px;
  }

  .review__author-name {
    font-size: 21px;
    line-height: 25px;
    margin-top: 45px;
  }

  .review__author-profession {
    display: block;
    font-size: 21px;
    line-height: 25px;
    width: 275px;
  }
}

@media (min-width: $pc-width) {
  .review {
    padding-left: 375px;
    padding-top: 121px;
    padding-bottom: 0;
    min-height: 0;
    background: none;
    max-width: 100%;
  }

  .review__wrapper {
    position: relative;
    display: flex;
    justify-content: flex-start;
    width: 710px;
    max-width: 100%;
    background: none;

    &::before {
      @include pseudo(431px,640px);
      background: url("../img/traveller-illustration-desktop@1x.png") no-repeat;
      background-size: contain;

      @media (min-resolution: $retina) {
        background-image: url("../img/traveller-illustration-desktop@2x.png");
    }
      top: 10px;
      left: -116px;
    }
  }
}
