.signup {
  font-family: $font;
  display: flex;
  margin-bottom: 28px;
}

.signup__input {
  width: 100%;
  padding: 22px;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #444444;

  &::placeholder {
    opacity: 0.3;
  }
}

.signup__button {
  @include flex-center();
  margin-left: -60px;
  margin-top: 1px;
  width: 60px;
  height: 62px;
}

@media (min-width: $tablet-width) {
  .signup {
    align-items: center;
  }

  .signup__input {
    width: 536px;
    padding-top: 28px;
    padding-bottom: 27px;
    padding-left: 32px;
    border-radius: 20px 0 0 20px;
    font-size: 24px;
    line-height: 24px;
    margin-left: 25px;
  }

  .signup__button {
    margin-left: 0;
    width: 82px;
    height: 81px;
    border-radius: 0 20px 20px 0;
  }
}

@media (min-width: $pc-width) {
  .signup {
    margin-left: 58px;
    margin-bottom: 68px;
  }

  .signup__button {
    min-width: 320px;
    position: relative;
    justify-content: flex-end;
    padding-right: 33px;

    &::before {
      position: absolute;
      content: "Регистрация";
      top: 50%;
      left: 35px;
      transform: translateY(-50%);
      font-size: 24px;
      line-height: 24px;
      order: -1;
    }
  }

  .signup__input {
    width: 850px;
  }
}
