.signup {
  font-family: $font;
  display: flex;
}

.signup__input {
  width: 100%;
  padding: 22px;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #444444;

  &::placeholder {
    opacity: 0.3;
  }

  &:active {
    background-color: transparent;
  }

  &:focus {
    border: 4px solid #ffffff;
    color: #ffffff;
    background-color: transparent;
  }
}

.signup__button {
  @include flex-center();
  position: relative;
  margin-left: -60px;
  margin-top: 1px;
  width: 60px;
  height: 62px;

  &::before {
    @include pseudo(10px,14px);
    background: url("../img/triangle-arrow-right.svg") no-repeat;
    top: 24px;
    right: 22px;
  }

  &:active {
    background-color: #ffbd30;

    .signup__button-title {
      opacity: 0.3;
    }

    &::before {
      opacity: 0.3;
    }
  }
}

.signup__button-title {
  display: none;
}

@media (min-width: $tablet-width) {
  .signup {
    align-items: center;
  }

  .signup__input {
    width: 536px;
    padding-top: 28px;
    padding-bottom: 27px;
    padding-left: 32px;
    border-radius: 20px 0 0 20px;
    font-size: 24px;
    line-height: 24px;
    margin-left: 25px;
  }

  .signup__button {
    margin-left: 0;
    width: 82px;
    height: 81px;
    border-radius: 0 20px 20px 0;

    &::before {
      top: 34px;
      right: 37px;
    }
  }
}

@media (min-width: $pc-width) {
  .signup__button {
    min-width: 325px;
    justify-content: flex-start;
    padding-left: 34px;
    margin-top: 0;

    &::before {
      top: 34px;
      right: 37px;
    }
  }

  .signup__button-title {
    display: block;
    color: #1d2e5b;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
  }

  .signup__input {
    width: 850px;
    min-height: 81px;
    margin-left: 24px;
    padding-top: 25px;

    &:hover {
      background-color: #edeff6;

      &::placeholder {
        opacity: 0.5;
      }
    }

    &:focus {
      padding-top: 21px;
      padding-bottom: 23px;
      background: transparent;
    }
  }
}
