.site-producer {
  font-family: $font;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media(max-width: 767px) {
  .site-producer {
    position: relative;

    &::before {
      @include pseudo(270px,1px);
      background-color: #000000;
      opacity: 0.05;
      top: -15px;
      left: 0;
    }
  }
}

.site-producer__info {
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
}

.site-producer__image {
  width: 27px;
  height: 34px;
}

@media (min-width: $tablet-width) {
  .site-producer__info {
    font-size: 20px;
    line-height: 24px;
  }

  .site-producer__info {
    margin-right: 25px;
  }
}
