.social {
  @include list-reset();
  font-family: $font;
  display: flex;
  justify-content: center;
}

.social__item {
  @include flex-center();
  width: 45px;
  height: 45px;
  border-radius: 50%;

  &--yellow {
    background-color: $yellow;
  }
}

.social__fb-icon {
  width: 11px;
  height: 21px;
  fill: #cccccc;
}

.social__vk-icon {
  width: 23px;
  height: 12px;
  fill: #cccccc;
}

.social__inst-icon {
  width: 18px;
  height: 18px;
  fill: #cccccc;
}

@media (min-width: $tablet-width) {
  .social {
    justify-content: left;
  }

  .social__item {
    width: 60px;
    height: 60px;
  }

  .social__fb-icon {
    width: 14px;
    height: 28px;
  }

  .social__vk-icon {
    width: 31px;
    height: 16px;
  }

  .social__inst-icon {
    width: 24px;
    height: 24px;
  }
}
