.step-number-block {
  font-family: $font;
}

.step-number-block__label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 9px;
}

.step-number-block__title {
  color: #1d2e5b;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 1.45px;

  &--grey {
    opacity: 0.3;
  }
}

.step-number-block__bottom-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #cbced9;
  padding-left: 5px;
  padding-right: 5px;
}

.step-number-block__button {
  @include flex-center();
  width: 43px;
  height: 41px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  padding: 0;
}

.step-number-block__input {
  color: #1d2e5b;
  font-size: 15px;
  font-weight: 500;
  line-height: 13.37px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: none;
  text-align: center;
  appearance: textfield;
}

@media (min-width: $tablet-width) {
  .step-number-block__title {
    font-size: 20px;
    line-height: 18px;
  }
}

@media (min-width: $pc-width) {
  .step-number-block {
    width: 500px;
  }
}
