.step-number-block {
  font-family: $font;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.step-number-block__title {
  color: #1d2e5b;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 1.45px;

  &--grey {
    opacity: 0.3;
  }
}

.step-number-block__bottom-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 220px;
  margin-top: 10px;
}

.step-number-block__button {
  position: absolute;

  @include flex-center();
  width: 43px;
  height: 43px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  padding: 0;

  &::before {
    @include pseudo(14px,2px);
    opacity: 0.2;
  }

  &:active {
    &::before {
      opacity: 0.1;
    }
  }

  &--minus {
    &::before {
      background: url("../img/qty-minus-mobile.svg") no-repeat;
      left: 13px;
      top: 19px;
    }
  }

  &--plus {
    right: 0;

    &::before {
      height: 14px;
      background: url("../img/qty-plus-mobile.svg") no-repeat;
      top: 12px;
      right: 13px;
    }
  }
}

.step-number-block__input {
  color: #1d2e5b;
  font-size: 15px;
  font-weight: 500;
  line-height: 13.37px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  appearance: textfield;
  height: 43px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #cbced9;

  &:active {
    border-color: #161c35;
  }
}

@media (min-width: $tablet-width) {
  .step-number-block__bottom-wrapper {
    width: 531px;
    margin-top: 3px;
  }

  .step-number-block__title {
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 2px;
  }

  .step-number-block__input {
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 18px;
    margin-top: 23px;
    margin-bottom: 1px;
    height: 70px;
  }

  .step-number-block__button {
    width: 70px;
    height: 70px;

    &--plus {
      &::before {
        background-image: url("../img/qty-plus.svg");
        width: 20px;
        height: 20px;
        top: 35px;
        right: 18px;
      }
    }

    &--minus {
      &::before {
        background-image: url("../img/qty-minus.svg");
        width: 20px;
        top: 45px;
        left: 24px;
      }
    }
  }
}

@media (min-width: $pc-width) {
  .step-number-block {
    align-items: center;
    justify-content: flex-start;
  }

  .step-number-block__bottom-wrapper {
    width: 181px;
    margin-top: 0;
    margin-left: auto;
  }

  .step-number-block__input {
    margin-top: 0;
    margin-bottom: 0;

    &:hover {
      border-color: #959bb2;
    }
  }

  .step-number-block__button {
    &--plus {
      &::before {
        top: 25px;
        right: 21px;
      }
    }

    &--minus {
      &::before {
        top: 34px;
        left: 19px;
      }
    }

    &:hover {
      &::before {
        opacity: 0.4;
      }
    }
  }

  .step-number-block__title {
    &--grey {
      order: 3;
      margin-left: 36px;
      opacity: 1;
    }
  }
}
