.tarifs-business {
  width: 270px;
  padding-top: 33px;
  border-radius: 20px;
  background-color: $white;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
  display: none;

  &--opened {
    display: block;
  }
}

.tarifs-business__list {
  @include list-reset();
  position: relative;
  margin-top: 55px;
  margin-bottom: 40px;

  &::before {
    @include pseudo(200px, 1px);
    top: -12px;
    background-color: #000000;
    opacity: 0.05;
    box-shadow: 0 65px #000000,
      0 130px #000000,
      0 195px #000000;
  }
}

.tarifs-business__title {
  color: #ff8d30;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  letter-spacing: 0.25px;
}

.tarifs-business__name {
  display: block;
  color: #444444;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

.tarifs-business__price {
  display: block;
  color: #444444;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  margin: 0;
}

.tarifs-business__close {
  width: 100%;
  background-color: #f3f4f8;
  color: #1d2e5b;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  padding: 18px 0;
  border: none;
  border-radius: 0 0 20px 20px;
  cursor: pointer;
}
