.tips {
  position: relative;
  display: flex;
  font-family: $font;
  margin: 0 auto;
  min-height: 310px;
  background-color: #192144;
  max-width: 100%;
}

@media (min-width: $tablet-width) {
  .tips {
    width: $tablet-width;
    padding-left: 40px;
    padding-right: 40px;
    background-color: $bg-header-tablet;
    min-height: 280px;
  }
}

@media (min-width: $pc-width) {
  .tips {
    width: $pc-width;
    min-height: 0;
    background-color: transparent;
  }

  .tips__list {
    margin-left: 20px;
    margin-right: 20px;
  }
}
