.tips {
  font-family: $font;
  background-color: #192144;
  padding-left: 25px;
  padding-right: 25px;
  width: $mobile-width;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .tips {
    width: $tablet-width;
  }
}

@media (min-width: $pc-width) {
  .tips {
    width: $pc-width;
  }
}
