.tips-list {
  @include list-reset();
  position: absolute;
  top: -82px;
  font-family: $font;
  margin: 0 auto;
  counter-reset: counter;
}

.tips-list__item {
  position: relative;
  @include list-reset();
  width: 270px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #161c35;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 21px;
  border-radius: 10px 10px 0 0;

  &::after {
    counter-increment: counter;
    content: counter(counter);
    color: $white;
  }

  &:nth-child(1) {
    background-color: #ff8d30;
    min-height: 160px;
    z-index: 1;
  }

  &:nth-child(2) {
    background-color: #ffa530;
    min-height: 160px;
    z-index: 2;
    bottom: 80px;
  }

  &:nth-child(3) {
    background-color: #ffbd30;
    min-height: 146px;
    z-index: 3;
    bottom: 160px;
  }

  &:nth-child(4) {
    background-color: #ffd74b;
    border-radius: 10px;
    min-height: 80px;
    z-index: 4;
    bottom: 226px;
  }
}

.tips-list__title {
  width: 138px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .tips-list {
    display: flex;
    flex-wrap: wrap;
  }

  .tips-list__item {
    font-size: 24px;
    line-height: 24px;
    width: 344px;
    min-height: 140px;
    padding-left: 34px;
    padding-top: 31px;

    &:nth-child(2n) {
      margin-left: -10px;
    }

    &:nth-child(3) {
      margin-top: -20px;
    }

    &:nth-child(4) {
      margin-top: -20px;
    }
  }
}

@media (min-width: $pc-width) {
  .tips-list__item {
    min-height: 107px;
    padding-top: 29px;
    padding-bottom: 31px;
    padding-left: 35px;
    border-radius: 20px;

    &:nth-child(3) {
      margin-top: 0;
    }

    &:nth-child(4) {
      margin-top: 0;
    }
  }
}
