.tooltip {
  position: absolute;
  display: none;
  z-index: 15;
}

.tooltip__triangle {
  width: 16px;
  height: 16px;
  border: 8px solid #101d41;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  margin: 0 auto;
}

.tooltip__content-box {
  background-color: #101d41;
  border-radius: 4px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  padding: 16px;
}
