.transport-list {
  @include list-reset();
  font-family: $font;
  display: flex;
  justify-content: center;

  &--left {
    justify-content: flex-start;
  }
}

.transport-list__icon {
  fill-opacity: 0.15;
}

.transport-list__input {
  &:checked + .transport-list__label {
    .transport-list__icon {
      fill-opacity: 1;
      fill: #1d2e5b;
    }
  }

  &:active + .transport-list__label {
    background-color: #e2e5f1;

    .transport-list__icon {
      fill-opacity: 0.1;
    }
  }

  &:checked:active + .transport-list__label {
    background-color: #e2e5f1;

    .transport-list__icon {
      fill: #101e44;
      fill-opacity: 0.3;
    }
  }
}

.transport-list__label {
  @include flex-center();
  width: 33px;
  height: 33px;
  background-color: $white;
  border-radius: 50%;

  &--catalog {
    width: 32.5px;
    height: 32.5px;
  }
}

@media (min-width: $tablet-width) {
  .transport-list__label {
    width: 43px;
    height: 43px;
  }

  .transport-list__icon {
    &--plane {
      width: 19px;
      height: 21px;
    }

    &--bus {
      width: 17px;
      height: 21px;
    }

    &--bike {
      width: 24px;
      height: 21px;
    }

    &--run {
      width: 20px;
      height: 21px;
    }
  }

  .transport-list__item {
    &:not(:last-of-type) {
      margin-right: 8px;
    }

    &--catalog {
      &:not(:last-of-type) {
        margin-right: 0;
      }
    }
  }
}

@media (min-width: $pc-width) {
  .transport-list__item {
    position: relative;

    &:not(:last-of-type) {
      margin-right: 0;
    }

    &:hover {
      .tooltip {
        display: block;
      }
    }
  }

  .transport-list__tooltip {
    &--plane {
      top: 38px;
      left: -48px;
    }

    &--bus {
      top: 38px;
      left: -54px;
    }

    &--bike {
      top: 38px;
      left: -38px;
    }

    &--run {
      top: 38px;
      left: -26px;
    }
  }

  .transport-list__input {
    &:checked:hover + label {
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);

      .transport-list__icon {
        fill-opacity: 0.7;
        fill: #101e44;
      }
    }

    &:hover + label {
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);

      .transport-list__icon {
        fill-opacity: 0.3;
      }
    }
  }
}
