.transport-list {
  @include list-reset();
  font-family: $font;
  display: flex;
}

.transport-list__label {
  @include flex-center();
  width: 33px;
  height: 33px;
  background-color: $white;
  border-radius: 50%;
}

.transport-list__icon {
  opacity: 0.15;
}
