.transport-list {
  @include list-reset();
  font-family: $font;
  display: flex;
  justify-content: center;

  &--left {
    justify-content: flex-start;
  }
}

.transport-list__input {
  &:checked + label {
    .transport-list__icon {
      opacity: 1;
      fill: #1d2e5b;
    }
  }
}

.transport-list__label {
  @include flex-center();
  width: 33px;
  height: 33px;
  background-color: $white;
  border-radius: 50%;

  &--catalog {
    width: 32.5px;
    height: 32.5px;
  }
}

.transport-list__icon {
  opacity: 0.15;
}

@media (min-width: $tablet-width) {
  .transport-list__label {
    width: 43px;
    height: 43px;
  }

  .transport-list__icon {
    &--plane {
      width: 19px;
      height: 21px;
    }

    &--bus {
      width: 17px;
      height: 21px;
    }

    &--bike {
      width: 24px;
      height: 21px;
    }

    &--run {
      width: 20px;
      height: 21px;
    }
  }

  .transport-list__item {
    &:not(:last-of-type) {
      margin-right: 8px;
    }
  }
}

@media (min-width: $pc-width) {
  .transport-list__item {
    &:not(:last-of-type) {
      margin-right: 0;
    }
  }
}
