.traveler-tags {
  @include list-reset();
  font-family: $font;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 185px;
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.traveler-tags__item {
  font-size: 16px;
  line-height: 18px;

  &:not(:last-of-type) {
    margin-right: 5px;
  }

  &--catalog {
    font-size: 15px;
  }
}

@media (min-width: $tablet-width) {
  .traveler-tags {
    width: 230px;
  }

  .traveler-tags__item {
    font-size: 20px;
    line-height: 24px;
  }
}
