.traveler-directions {
  @include list-reset();
  margin: 0;
  font-family: $font;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.traveler-directions__title {
  color: #1d2e5b;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 2px;
}

.traveler-directions__image {
  &--catalog {
    width: 25px;
    height: 18px;
    margin-right: 16px;
  }
}

.traveler-directions__item {
  display: flex;
  align-items: center;

  &:not(:last-of-type) {
    margin-right: 19px;
  }

  &--catalog {
    &:not(:last-of-type) {
      margin-right: 0;
      margin-bottom: 7px;
    }
  }
}

@media (min-width: $tablet-width) {
  .traveler-directions {
    flex-direction: row;
  }

  .traveler-directions__image {
    width: 35px;
    height: 24px;

    &--catalog {
      margin-right: 10px;
    }
  }

  .traveler-directions__title {
    font-size: 20px;
    line-height: 30px;
  }

  .traveler-directions__item {
    &--catalog {
      &:not(:last-of-type) {
        margin-bottom: 0;
        margin-right: 28px;
      }
    }
  }
}

@media (min-width: $pc-width) {
  .traveler-directions {
    // position: absolute;
    z-index: 15;
  }

  .traveler-directions__item {
    position: relative;

    &--catalog {
      &:not(:last-of-type) {
        margin-right: 0;
        margin-bottom: 5px;
      }
    }

    &::before {
      display: none;
      content: attr(data-flag);
      position: absolute;
      background-color: #101d41;
      border-radius: 4px;
      color: #ffffff;
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
      padding: 16px;
      top: 35px;
      left: -20px;
      z-index: 15;
    }

    &::after {
      display: none;

      @include pseudo(16px,16px);
      border: 8px solid #101d41;
      border-left-color: transparent;
      border-right-color: transparent;
      border-top-color: transparent;
      top: 20px;
      left: 10px;
      z-index: 15;
    }

    &:hover {
      &::before {
        display: block;
      }

      &::after {
        display: block;
      }
    }
  }

  .traveler-directions__image {
    &--catalog {
      margin-right: 19px;
    }
  }
}
