.traveler-transport {
  @include list-reset();
  position: relative;
  font-family: $font;
  display: flex;

  &--catalog {
    .traveler-transport__item {
      background-color: #edeff6;
    }
  }
}

.traveler-transport__item {
  @include flex-center();
  width: 33px;
  height: 32px;
  border-radius: 50%;

  &--active .traveler-transport__image {
    fill: #1d2e5b;
    opacity: 1;
  }
}

.traveler-transport__image {
  opacity: 0.15;
}

@media (min-width: $tablet-width) {
  .traveler-transport {
    &--catalog {
      .traveler-transport__item {
        background-color: transparent;
      }
    }
  }

  .traveler-transport__image {
    &--bus {
      width: 17px;
      height: 21px;
    }

    &--plane {
      width: 19px;
      height: 21px;
    }

    &--bike {
      width: 24px;
      height: 21px;
    }

    &--run {
      width: 20px;
      height: 21px;
    }
  }
}

@media (min-width: $pc-width) {
  .traveler-transport__item {
    position: relative;

    &::before {
      display: none;
      content: attr(data-transport);
      position: absolute;
      background-color: #101d41;
      border-radius: 4px;
      color: #ffffff;
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
      padding: 16px;
      top: 35px;
    }

    &::after {
      display: none;

      @include pseudo(16px,16px);
      border: 8px solid #101d41;
      border-left-color: transparent;
      border-right-color: transparent;
      border-top-color: transparent;
      top: 20px;
      left: 10px;
    }
  }

  &:hover {
    &::before {
      display: block;
    }

    &::after {
      display: block;
    }
  }
}
