.traveler {
  position: relative;
  font-family: $font;
  background-color: $white;
  border-radius: 20px;
  padding: 20px;
}

.traveler__name {
  position: relative;
  color: #1d2e5b;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;

  &::before {
    @include pseudo(5px, 5px);
    border-radius: 3px;
    background-color: #f97676;
    right: 0;
  }
}

.traveler__data {
  display: flex;
  flex-direction: column;
}

.traveler__image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.traveler__top-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.traveler__likes {
  color: #161c35;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
}

.traveler__wish-country {
  color: #444444;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
}

.traveler__bottom-wrapper {
  display: flex;
  justify-content: space-between;
}

.traveler__button {
  border-radius: 20px;
  width: 100%;
  padding-bottom: 5px;
  padding-top: 5px;
}

.traveler__level-box {
  @include flex-center();
  width: 45px;
  height: 45px;
  background: url("../img/status_bar.png") no-repeat;
  background-size: contain;
}

.traveler-transport__item {
  @include flex-center();
  width: 33px;
  height: 32px;
  border-radius: 50%;
  background-color: #edeff6;
}

.traveler-transport__image {
  opacity: 0.15;
}

.traveler__svg {
  stroke-dashoffset: 35;

  &--firsova {
    stroke-dasharray: 138 6.44;
  }

  &--demin {
    stroke-dasharray: 124 20.44;
  }

  &--smolov {
    stroke-dasharray: 36 108.44;
  }

  &--rogovaya {
    stroke-dasharray: 77.22 77.22;
    stroke-dashoffset: 45;
  }
}

.traveler__level {
  position: relative;
}

@media (max-width: $tablet-width) {
  .traveler__level {
    &::before {
      position: absolute;
      content: "Левел";
      top: 0;
      color: #444444;
      font-size: 15px;
      font-weight: 400;
      line-height: 18px;
    }
  }
}

.traveler__level-counter {
  position: absolute;
  top: 18px;
  right: 10px;
  color: #1d2e5b;
  font-size: 24px;
  font-weight: 700;
  line-height: 18px;
}

.traveler__level-title {
  color: #444444;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
}

.traveler__heart {
  @include flex-center();
  position: absolute;
  width: 31px;
  height: 31px;
  border-radius: 16px;
  background-color: #f9eaea;
  top: 75px;
  left: 60px;
}

@media (min-width: $tablet-width) {
  .traveler {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  .traveler__transport-list {
    flex-direction: column;
  }

  .traveler__tags {
    order: 0;
  }

  .traveler__data {
    min-width: 250px;
  }

  .traveler__image {
    width: 190px;
    height: 190px;
    border-radius: 20px 20px 20px 20px;
  }

  .traveler__likes {
    font-size: 20px;
    line-height: 30px;
    align-self: flex-end;
    order: 1;
  }

  .traveler__heart {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #f9eaea;
    top: 190px;
    left: 370px;
    order: 2;
  }

  .traveler__name {
    font-size: 30px;
    line-height: 30px;

    &::before {
      width: 7px;
      height: 7px;
      border-radius: 3px;
      background-color: #f97676;
      right: 0;
    }
  }

  .traveler__bottom-wrapper {
    flex-direction: column;
  }

  .traveler__button {
    position: absolute;
    width: 148px;
    height: 50px;
    top: 190px;
    left: 220px;
  }
}

@media (min-width: $pc-width) {
  .traveler {
    min-height: 285px;
  }

  .traveler__bottom-wrapper {
    flex-direction: row;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .traveler__transport-list {
    flex-direction: row;
  }
}
