.traveler-directions {
  @include list-reset();
  position: relative;
  font-family: $font;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;

  &--catalog {
    flex-direction: column;
  }
}

@media (max-width: $pc-width) {
  .traveler-directions {
    &::before {
      position: absolute;
      content: "хочет посетить:";
      color: #444444;
      font-size: 15px;
      font-weight: 400;
      line-height: 18px;
      top: -7px;
      left: 10px;
      background-color: #ffffff;
      z-index: 1;
      padding-right: 10px;
      padding-left: 10px;
    }

    &::after {
      @include pseudo(100%, 1px);
      background-color: #edeff6;
      top: 0;
    }
  }
}

.traveler-directions__title {
  color: #1d2e5b;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
}

.traveler-directions__item {
  display: flex;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .traveler-directions {
    &--catalog {
      flex-direction: row;
      order: 10;
    }
  }
}

@media (min-width: $pc-width) {
  .traveler-directions {
    &--catalog {
      flex-direction: column;
      order: 0;
    }
  }
}
