.welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: $font;
  background: url("../img/traveller-illustration-mobile@1x.png") no-repeat 50% 100%,
    url("../img/globe-back-mobile@1x.jpg") no-repeat;
  min-height: 420px;
  width: $mobile-width;
  margin: 0 auto;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
}

.welcome__slogan {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
}

.welcome__login {
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 20px;
}

.welcome__wrapper {
  display: flex;
}

.welcome__call {
  @include flex-center();
  width: 40px;
  height: 40px;
  background-color: #ff8d30;
  border-radius: 50%;
}

.welcome__email {
  @include flex-center();
  width: 40px;
  height: 40px;
  background-color: #ffbd30;
  border-radius: 50%;
}

@media (min-width: $tablet-width) {
  .welcome {
    padding-left: 40px;
    padding-right: 40px;
    width: $tablet-width;
    background: url("../img/traveller-illustration-tablet@1x.png") no-repeat 50% 100%,
      url("../img/globe-back-tablet@1x.jpg") no-repeat;
  }

  .welcome__slogan {
    padding-left: 140px;
    padding-right: 140px;
    font-size: 60px;
    line-height: 70px;
  }

  .welcome__wrapper {
    display: none;
  }
}

@media (min-width: $pc-width) {
  .welcome {
    width: $pc-width;
  }

  .welcome__wrapper {
    display: none;
  }
}
